<div class="form-group row">

  <div class="col-lg-12 col-md-12 col-sm-12" style="padding-bottom: 10px;">
    <label>Seller: </label>
    <div class="formInputs">
      <input type="text"  class="form-control" ng-model="req.seller" ng-init="req.seller='Louie'" required>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
    <label>Subtotal: $</label>
    <div class="formInputs">
      <input type="number"  step='0.01' value='0.00' class="form-control" ng-model="req.subTot" required>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="formInputs">
    <label>Sales Tax: $ </label>
    <input type="number"  step='0.01' value='0.00' class="form-control" placeholder="6.35" ng-model="req.saleTax" required>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="formInputs">
    <label>Grand Total: $</label> 
     {{req.grandTotal = (req.subTot + (req.subTot*(req.saleTax/100))| number:0)}}   
    </div>
  </div>


</div>

<div class="form-group row">
<div class="col-lg-12 col-md-12 col-sm-12" ng-show="showError" style="text-align: center;
    color: red;"> YOU FORGOT TO ENTER:  </div>
  <div class="col-lg-10 col-md-10 col-sm-10">
              <button style="width: 100%"class="btn btn-success" type="submit" value="SEARCH" ng-click="submitReq(req)">Submit
          </button>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2">
              <button style="width: 100%"class="btn btn-danger" type="button" ng-click="req = null">CLEAR
          </button>
  </div>

</div>