<table class="table table-striped form-group" >
  <caption class="tableCaption">MJ Service LLC Proposes to furnish all labor and material to complete the following:</caption>
    <thead >
    <tr>  
      <th>Included</th>
      <th>Description</th>
      <th>Comments</th>
    </tr>
    </thead>
      <tbody >
      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb1"  >
          <!-- ng-checked=" preCheck(req.tb1); preCheck(req.tb1)? req.cb1=true : req.cb1= req.cb1" -->
        </td>
         <td class="tableDesc">
          <b>Strip Roof:</b> 
              Remove existing roofing down to wood deck,wood slats, or wood shingles. 
              Specific areas: 
        </td>
        <td class="formInputs tableComments" >
          <input type="text" class="form-control"  ng-model="req.tb1"  >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb2" >
        </td>
         <td class="tableDesc">
           <b>Re-Roof:</b> 
            Remove and discard any curried or disfigured roof shingles.
            Specific areas: 
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb2" >
        </td>
      </tr>


      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb3"  >
        </td>
         <td class="tableDesc">
            <b>Flat Roofing:</b> 
                Apply base sheet to flat roof surface and apply cap sheet roll over base.
                Specific areas: 
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb3" >
        </td>
      </tr>


      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb4" >
        </td>
         <td class="tableDesc">
          <b>Rubber Roofing:</b> 
                Apply 2 inch installation with 3 inch plates, fasten it with screws, and apply with glue.
                 Specific areas: 
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb4" >
        </td>
      </tr>


      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb5">
        </td>
         <td class="tableDesc">
            Apply  <input  type="checkbox" ng-model="req.cb51"> 1/2  <input  type="checkbox" ng-model="req.cb52"> 5/8 CDX plywood over wood slates.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb5" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb6" >
        </td>
         <td class="tableDesc">
              Replace any damage sheathing at an addition cost of: $ 
              <input type="text" style="width: 10%;" ng-model="req.tb61" >
        </td>
        <td class="formInputs tableComments">
          <input class="form-control" type="text" class="form-control" ng-model="req.tb6" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb7" n>
        </td>
         <td class="tableDesc">
               Apply ice and water barrier at valleys, around skylights, chimneys, pitch changes, and around the trim of the roof.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb7" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb8" >
        </td>
         <td class="tableDesc">
               As per Connecticut's High Wind Building Code- Shingles are to be applied with six nails.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb8" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb9" n>
        </td>
         <td class="tableDesc">
              Apply new premium aluminum drip-edge edging to complete roof perimeter.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb9" >
        </td>
      </tr>


      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb10" >
        </td>
         <td class="tableDesc">
                Apply synthetic underlayment after ice and water placement.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb10" >
        </td>
      </tr>


      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb11" >
        </td>
         <td class="tableDesc">
               Apply new boot on vent pipes.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb11" >
        </td>
      </tr>


      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb12" >
        </td>
         <td class="tableDesc">
               Apply new roofing shingles. 
          Specific manufacture style and color:
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb12" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb13">
        </td>
         <td class="tableDesc">
           Apply new flashing on chimney(s) and counter flashing. lead: 
           <input type="checkbox"  ng-model="req.tb131" >,
            copper: <input type="checkbox"  ng-model="req.tb132" >, aluminium: <input type="checkbox"  ng-model="req.tb133" >
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb13" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox" >
          <input type="checkbox" ng-model="req.cb14" n>
        </td>
         <td class="tableDesc">
            Apply ridgevent. 
            Specific areas:
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb14" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb15"  >
        </td>
         <td class="tableDesc">
            Remove and reinstall TV satelite dish. (Not responsible for proper reception alignment).
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb15" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-init="req.cb16=true" ng-model="req.cb16" >
        </td>
         <td class="tableDesc">
              Clean up daily and remove all job related debris from premises when complete.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb16" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-init="req.cb17=true" ng-model="req.cb17" >
        </td>
         <td class="tableDesc">
              Clean all roofing debris from guttter when complete.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb17" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-init="req.cb18=true" ng-model="req.cb18" >
        </td>
         <td class="tableDesc">
              Remove and dispose all job related materials and debris. (Dumpster)
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb18" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-init="req.cb19=true" ng-model="req.cb19" >
        </td>
         <td class="tableDesc">
              Remove and dispose all job related materials and debris. (Dumpster)
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb19" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-init="req.cb20=true" ng-model="req.cb20"  >
        </td>
         <td class="tableDesc">
              Clean all roofing debris from guttter when complete.
        </td>
        <td class="formInputs tableComments">
          <input type="text" class="form-control" ng-model="req.tb20" >
        </td>
      </tr>

      <tr>
        <td class="formInputs tableCheckbox">
          <input type="checkbox" ng-model="req.cb21">
        </td>
         <td class="tableDesc">
              Additional Instructions:
        </td>
        <td class="formInputs tableComments">
            <textarea class="form-control" rows="2" ng-model="req.tb21"  ></textarea>
        </td>
      </tr>



      </tbody>
  </table>