
<!DOCTYPE html>
<html lang="en">
 
 <head>

  <% include partials/header.ejs %>
  <title>MJ Roofing</title>

</head>

  <body ng-app="masterApp"  ng-controller="masterCtrl" >
    <div class="container-fluid">
      
      <div class="row ">
        <%  include partials/topheader.ejs %> 
      </div>

      <form name="myForm">
        <div class="row" >  
          <div class="col-sm-12 col-md-12 col-lg-12" >
           <%  include partials/topForm.ejs %> 
          </div>
        </div> <!--  End top form section -->

        <div class="row" >  
          <div class="col-sm-12 col-md-12 col-lg-12" >
            <%  include partials/middleForm.ejs %> 
          </div>
        </div> <!--  End middle form section -->

        <div class="row" >  
          <div class="col-sm-12 col-md-12 col-lg-12" >
          <%  include partials/bottomForm.ejs %> 
          </div>
        </div> <!--  End bottom form section -->
      </form><!--  End form -->

  </div> <!--  End main container -->
  
  </body>
</html>


