
body {
	font-family: 'Open Sans', sans-serif;
}


.topHeader {
	font-size: 3em;
	display: block;
	    font-size: 4em;
    display: block;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}

.topHeader2 {
	font-size: 1.5em;
	display: block;
	float: right;
    margin-right: 40px;
}

.topInfo {
	display: block;
}

.topInfo2{
	float: right;
	
}




.tableCaption {
	background: black;
    color: white;
    text-align: center;
}

.tableCheckBox {
width: 5%;
}

.tableDesc {
width: 50%;
}

.tableComments {
width: 45%;

}

.sectionTitle {
    font-weight: 600;


}