
<!DOCTYPE html>
<html lang="en">
 
 <head>

  <% include partials/header.ejs %>
  <title>MJ Roofing</title>

</head>

  <body ng-app="masterApp"  ng-controller="ResultCtrl" >
    <div class="container-fluid">
      
    Invoice Sent.... Please Wait

  </div> <!--  End main container -->
  
  </body>
</html>


