<div class="form-group row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <label>Date:</label>
    <div class="formInputs">
      <input type="text" class="form-control" ng-model="req.curDate" ng-init="req.curDate =(date | date:'MM/dd/yy')" placeholder="{{date | date:'MM/dd/yy'}}" required>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="formInputs">
    <label>Proposal Number:</label>
    <input type="text" class="form-control" ng-model="req.proposalNum"  ng-init="req.proposalNum = (date | date:'MMddyy')" required >
    </div>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>


<div class="form-group row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <label>Name</label>
    <div class="formInputs">
      <input type="text" class="form-control" ng-model="req.fullName" required>
    </div>
  </div>  

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="formInputs">
    <label>Squares:</label>
    <input type="text" class="form-control" ng-model="req.squares" >
    </div>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>

<div class="form-group row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="formInputs">
    <label>Address</label>
    <textarea class="form-control" rows="2" ng-model="req.jobAddress2"  required></textarea>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="formInputs">
    <label>Discount</label>
    <textarea class="form-control" rows="2" ng-model="req.discount"  ></textarea>
    </div>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

</div>



<div class="form-group row">
  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <label>Email: </label>
    <div class="formInputs">
      <input type="email" class="form-control" ng-model="req.subTo" required>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <label>Phone:</label>
    <div class="formInputs">
      <input type="tel" class="form-control" ng-model="req.phone" required>
    </div>
  </div>

  <div class="col-lg-1 col-md-1 col-sm-1">
  </div>
</div>















