<div class="col-sm-2">
</div>

<div class="col-sm-6">
  <span class="topHeader">M&J Services LLC</span>
  <span class="topHeader2">1877-ROOF 318</span>
</div>

<div class="col-sm-4">
  <span class="topInfo2">M&J Roofing LLC</span><br>
  <span class="topInfo2">103 Union City Road</span><br>
  <span class="topInfo2">Prospect, CT 06712</span><br>
  <span class="topInfo2">Office: 2037543829</span><br>
  <span class="topInfo2">Fax: 2037543829</span><br>
  <span class="topInfo2">Emergency: 2037543829</span>
</div>